html {
  @apply bg-gray-900;
}

video::cue {
  font-family: sans-serif;
  font-size: 110%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.emoji {
  display: inline-block;
  width: auto;
  height: 1rem;
}

.timetableScrollContainer {
  contain: paint;
  max-height: calc(100vh - 162px);
}

.align-super {
  vertical-align: super;
}

.playerCommentList::-webkit-scrollbar-thumb {
  @apply bg-gray-600;
}

.playerCommentList::-webkit-scrollbar {
  @apply bg-gray-200;
  width: 2px;
  height: 0px;
}
